<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="navbar">
        <h3 class="website-name">EventByte!</h3>
        <div class="navbar-links">
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('user_events') }}">Your Tickets</a>
            <a href="{{ url_for('events') }}">Events</a>
            {% if current_user.username == 'ani' %}
                <a href="{{ url_for('admin_transaction_log') }}">Transaction Log</a>
                <a href="{{ url_for('create_event') }}">Create Event</a>
            {% endif %}
        </div>
      </div>
    
    <div class="event-list">
        {% for event in events %}
            <div class="event-item">
                <h2>{{ event.title }}</h2>
                <p>Location: {{ event.location }}</p>
                <p>Date: {{ event.date }}</p>
                <p>Duration: {{ event.duration }}</p>
                <p>Capacity: {{ event.capacity }}</p>
                <p>Status: {% if event.cancelled %} Cancelled {% else %} Not Cancelled {% endif %}</p>
                {% if not event.cancelled %}
                    {% if event.remaining_capacity == 0 %}
                        <p>Event is full</p>
                    {% else %}
                        <p>{{ event.remaining_capacity }} tickets remaining</p>
                    {% endif %}
                {% endif %}
                {% if current_user.username == 'ani' %}   
                    {% if not event.cancelled %}
                        <form action="{{ url_for('cancel_event', event_id=event.id) }}" method="post">
                            <button class = "button" type="submit">Cancel Event</button>
                        </form>
                        <form action="{{ url_for('increase_capacity', event_id=event.id) }}" method="post">
                            <button class = "button" type="submit">Increase Capacity</button>
                        </form>
                        <form action="{{ url_for('decrease_capacity', event_id=event.id) }}" method="post">
                            <button class = "button" type="submit">Decrease Capacity</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if not event.cancelled %}
                <form action="{{ url_for('request_ticket', event_id=event.id) }}" method="POST">
                    <button class="button" type="submit">Request Ticket</button>
                </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
