<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    
    <form action="{{ url_for('verify_email') }}" method="POST" class = "verify">
        <h3>Email Verification</h3>
        <label for="verification_code">Enter Verification Code:</label>
        <input type="text" id="verification_code" name="verification_code" required>
        <input type="hidden" name="email" value="{{ email }}">
        <button class = "button" type="submit">Verify</button>
    </form>
</body>
</html>